<nav class="brown darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Сеть баров "Нас Рать"</a>
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">


      {{#if isIndex}}
      <li class="active"><a href="/">МЕНЮ</a></li>
      {{else}}
      <li><a href="/">МЕНЮ</a></li>
      {{/if}}

      {{#if isCreate}}
      <li class="active"><a href="/create">АДМИН ПАНЕЛЬ</a></li>
      {{else}}
      <li><a href="/create">АДМИН ПАНЕЛЬ</a></li>
      {{/if}}

    </ul>
  </div>
</nav>