<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>НасРать</title>
	<link rel = "stylesheet" href = "css/style.css"
</head>
<body>
	<a name="top"></a>
	<header>
		<div class="container">
		<div class="logo">
			<span>НасРать</span> <br>
			<img src="img/logo.png" alt="НасРать Бар"> 
			<span>Бар</span>
		</div>
		<nav>
			<li><a href="#">Главная</a></li>
			<li><a href="./menu">Меню</a></li>
			<li><a href="#">События</a></li>
			<li><a href="#">Контакты</a></li>
			<li><a href="#">Наш адрес</a></li>
			<li><a href="#">Фотогалерея</a></li>
		</nav>
	</div>
	</header>

	<section class="banner">
		<div class="container">
			<h1>
				НасРать 	
			</h1>
	</div>
	</section>
		<div class = "container">
			<h2>
				Что на кранах right now:
			</h2>
		</div>
		<button class = "main_button">
				Добавить semen
			</button>
			<a href="#top" style = "font-size: 30px;
    color: white;">Наверх</a>

</body>
</html>